.active{
    background-color:blue;
    color:white !important
}
.pending{
    background-color: red;
    color: white;
}
.brand{
    background-color: none !important;
}
a {
    text-decoration: none;
  }
  